# Ignore Terraform workspace files
.terraform/

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
*.tfplan

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore sensitive environment files
.env
